/* Reset de estilos básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}