body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    color: white;
    padding: .4em;
    text-align: center;
    margin-bottom: 3em;
}
div {
    margin: 1em auto;
    max-width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"] {
    width: 100%;
    padding: 10px; 
    margin-bottom: 2em;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
}
button {
    background-color: #05812e;
    color: white;
    padding: .5em 2em;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
button:hover {
    background-color: #0056b3;
}
